In [3]:
!pip install dbutils

Collecting dbutils
  Downloading dbutils-3.1.2-py3-none-any.whl.metadata (2.4 kB)
Downloading dbutils-3.1.2-py3-none-any.whl (32 kB)
Installing collected packages: dbutils
Successfully installed dbutils-3.1.2

In [4]:
!pip install mlflow

Collecting mlflow
  Downloading mlflow-3.6.0-py3-none-any.whl.metadata (31 kB)
Collecting mlflow-skinny==3.6.0 (from mlflow)
  Downloading mlflow_skinny-3.6.0-py3-none-any.whl.metadata (31 kB)
Collecting mlflow-tracing==3.6.0 (from mlflow)
  Downloading mlflow_tracing-3.6.0-py3-none-any.whl.metadata (19 kB)
Collecting Flask-CORS<7 (from mlflow)
  Downloading flask_cors-6.0.1-py3-none-any.whl.metadata (5.3 kB)
Requirement already satisfied: Flask<4 in /usr/local/lib/python3.12/dist-packages (from mlflow) (3.1.2)
Requirement already satisfied: alembic!=1.10.0,<2 in /usr/local/lib/python3.12/dist-packages (from mlflow) (1.17.1)
Requirement already satisfied: cryptography<47,>=43.0.0 in /usr/local/lib/python3.12/dist-packages (from mlflow) (43.0.3)
Collecting docker<8,>=4.0.0 (from mlflow)
  Downloading docker-7.1.0-py3-none-any.whl.metadata (3.8 kB)
Collecting graphene<4 (from mlflow)
  Downloading graphene-3.4.3-py2.py3-none-any.whl.metadata (6.9 kB)
Collecting gunicorn<24 (from mlflow)
  Downloading gunicorn-23.0.0-py3-none-any.whl.metadata (4.4 kB)
Collecting huey<3,>=2.5.0 (from mlflow)
  Downloading huey-2.5.4-py3-none-any.whl.metadata (4.6 kB)
Requirement already satisfied: matplotlib<4 in /usr/local/lib/python3.12/dist-packages (from mlflow) (3.10.0)
Requirement already satisfied: numpy<3 in /usr/local/lib/python3.12/dist-packages (from mlflow) (2.0.2)
Requirement already satisfied: pandas<3 in /usr/local/lib/python3.12/dist-packages (from mlflow) (2.2.2)
Requirement already satisfied: pyarrow<23,>=4.0.0 in /usr/local/lib/python3.12/dist-packages (from mlflow) (18.1.0)
Requirement already satisfied: scikit-learn<2 in /usr/local/lib/python3.12/dist-packages (from mlflow) (1.6.1)
Requirement already satisfied: scipy<2 in /usr/local/lib/python3.12/dist-packages (from mlflow) (1.16.3)
Requirement already satisfied: sqlalchemy<3,>=1.4.0 in /usr/local/lib/python3.12/dist-packages (from mlflow) (2.0.44)
Requirement already satisfied: cachetools<7,>=5.0.0 in /usr/local/lib/python3.12/dist-packages (from mlflow-skinny==3.6.0->mlflow) (5.5.2)
Requirement already satisfied: click<9,>=7.0 in /usr/local/lib/python3.12/dist-packages (from mlflow-skinny==3.6.0->mlflow) (8.3.0)
Requirement already satisfied: cloudpickle<4 in /usr/local/lib/python3.12/dist-packages (from mlflow-skinny==3.6.0->mlflow) (3.1.2)
Collecting databricks-sdk<1,>=0.20.0 (from mlflow-skinny==3.6.0->mlflow)
  Downloading databricks_sdk-0.73.0-py3-none-any.whl.metadata (40 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.0/40.0 kB 1.6 MB/s eta 0:00:00
Requirement already satisfied: fastapi<1 in /usr/local/lib/python3.12/dist-packages (from mlflow-skinny==3.6.0->mlflow) (0.121.0)
Requirement already satisfied: gitpython<4,>=3.1.9 in /usr/local/lib/python3.12/dist-packages (from mlflow-skinny==3.6.0->mlflow) (3.1.45)
Requirement already satisfied: importlib_metadata!=4.7.0,<9,>=3.7.0 in /usr/local/lib/python3.12/dist-packages (from mlflow-skinny==3.6.0->mlflow) (8.7.0)
Requirement already satisfied: opentelemetry-api<3,>=1.9.0 in /usr/local/lib/python3.12/dist-packages (from mlflow-skinny==3.6.0->mlflow) (1.37.0)
Requirement already satisfied: opentelemetry-proto<3,>=1.9.0 in /usr/local/lib/python3.12/dist-packages (from mlflow-skinny==3.6.0->mlflow) (1.37.0)
Requirement already satisfied: opentelemetry-sdk<3,>=1.9.0 in /usr/local/lib/python3.12/dist-packages (from mlflow-skinny==3.6.0->mlflow) (1.37.0)
Requirement already satisfied: packaging<26 in /usr/local/lib/python3.12/dist-packages (from mlflow-skinny==3.6.0->mlflow) (25.0)
Requirement already satisfied: protobuf<7,>=3.12.0 in /usr/local/lib/python3.12/dist-packages (from mlflow-skinny==3.6.0->mlflow) (5.29.5)
Requirement already satisfied: pydantic<3,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from mlflow-skinny==3.6.0->mlflow) (2.11.10)
Requirement already satisfied: python-dotenv<2,>=0.19.0 in /usr/local/lib/python3.12/dist-packages (from mlflow-skinny==3.6.0->mlflow) (1.2.1)
Requirement already satisfied: pyyaml<7,>=5.1 in /usr/local/lib/python3.12/dist-packages (from mlflow-skinny==3.6.0->mlflow) (6.0.3)
Requirement already satisfied: requests<3,>=2.17.3 in /usr/local/lib/python3.12/dist-packages (from mlflow-skinny==3.6.0->mlflow) (2.32.4)
Requirement already satisfied: sqlparse<1,>=0.4.0 in /usr/local/lib/python3.12/dist-packages (from mlflow-skinny==3.6.0->mlflow) (0.5.3)
Requirement already satisfied: typing-extensions<5,>=4.0.0 in /usr/local/lib/python3.12/dist-packages (from mlflow-skinny==3.6.0->mlflow) (4.15.0)
Requirement already satisfied: uvicorn<1 in /usr/local/lib/python3.12/dist-packages (from mlflow-skinny==3.6.0->mlflow) (0.38.0)
Requirement already satisfied: Mako in /usr/local/lib/python3.12/dist-packages (from alembic!=1.10.0,<2->mlflow) (1.3.10)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.12/dist-packages (from cryptography<47,>=43.0.0->mlflow) (2.0.0)
Requirement already satisfied: urllib3>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from docker<8,>=4.0.0->mlflow) (2.5.0)
Requirement already satisfied: blinker>=1.9.0 in /usr/local/lib/python3.12/dist-packages (from Flask<4->mlflow) (1.9.0)
Requirement already satisfied: itsdangerous>=2.2.0 in /usr/local/lib/python3.12/dist-packages (from Flask<4->mlflow) (2.2.0)
Requirement already satisfied: jinja2>=3.1.2 in /usr/local/lib/python3.12/dist-packages (from Flask<4->mlflow) (3.1.6)
Requirement already satisfied: markupsafe>=2.1.1 in /usr/local/lib/python3.12/dist-packages (from Flask<4->mlflow) (3.0.3)
Requirement already satisfied: werkzeug>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from Flask<4->mlflow) (3.1.3)
Collecting graphql-core<3.3,>=3.1 (from graphene<4->mlflow)
  Downloading graphql_core-3.2.7-py3-none-any.whl.metadata (11 kB)
Collecting graphql-relay<3.3,>=3.1 (from graphene<4->mlflow)
  Downloading graphql_relay-3.2.0-py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: python-dateutil<3,>=2.7.0 in /usr/local/lib/python3.12/dist-packages (from graphene<4->mlflow) (2.9.0.post0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib<4->mlflow) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib<4->mlflow) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib<4->mlflow) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib<4->mlflow) (1.4.9)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.12/dist-packages (from matplotlib<4->mlflow) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib<4->mlflow) (3.2.5)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas<3->mlflow) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas<3->mlflow) (2025.2)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn<2->mlflow) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn<2->mlflow) (3.6.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy<3,>=1.4.0->mlflow) (3.2.4)
Requirement already satisfied: pycparser in /usr/local/lib/python3.12/dist-packages (from cffi>=1.12->cryptography<47,>=43.0.0->mlflow) (2.23)
Requirement already satisfied: google-auth~=2.0 in /usr/local/lib/python3.12/dist-packages (from databricks-sdk<1,>=0.20.0->mlflow-skinny==3.6.0->mlflow) (2.38.0)
Requirement already satisfied: starlette<0.50.0,>=0.40.0 in /usr/local/lib/python3.12/dist-packages (from fastapi<1->mlflow-skinny==3.6.0->mlflow) (0.49.3)
Requirement already satisfied: annotated-doc>=0.0.2 in /usr/local/lib/python3.12/dist-packages (from fastapi<1->mlflow-skinny==3.6.0->mlflow) (0.0.3)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.12/dist-packages (from gitpython<4,>=3.1.9->mlflow-skinny==3.6.0->mlflow) (4.0.12)
Requirement already satisfied: zipp>=3.20 in /usr/local/lib/python3.12/dist-packages (from importlib_metadata!=4.7.0,<9,>=3.7.0->mlflow-skinny==3.6.0->mlflow) (3.23.0)
Requirement already satisfied: opentelemetry-semantic-conventions==0.58b0 in /usr/local/lib/python3.12/dist-packages (from opentelemetry-sdk<3,>=1.9.0->mlflow-skinny==3.6.0->mlflow) (0.58b0)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.12/dist-packages (from pydantic<3,>=2.0.0->mlflow-skinny==3.6.0->mlflow) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in /usr/local/lib/python3.12/dist-packages (from pydantic<3,>=2.0.0->mlflow-skinny==3.6.0->mlflow) (2.33.2)
Requirement already satisfied: typing-inspection>=0.4.0 in /usr/local/lib/python3.12/dist-packages (from pydantic<3,>=2.0.0->mlflow-skinny==3.6.0->mlflow) (0.4.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil<3,>=2.7.0->graphene<4->mlflow) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.17.3->mlflow-skinny==3.6.0->mlflow) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.17.3->mlflow-skinny==3.6.0->mlflow) (3.11)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.17.3->mlflow-skinny==3.6.0->mlflow) (2025.10.5)
Requirement already satisfied: h11>=0.8 in /usr/local/lib/python3.12/dist-packages (from uvicorn<1->mlflow-skinny==3.6.0->mlflow) (0.16.0)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.12/dist-packages (from gitdb<5,>=4.0.1->gitpython<4,>=3.1.9->mlflow-skinny==3.6.0->mlflow) (5.0.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.12/dist-packages (from google-auth~=2.0->databricks-sdk<1,>=0.20.0->mlflow-skinny==3.6.0->mlflow) (0.4.2)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.12/dist-packages (from google-auth~=2.0->databricks-sdk<1,>=0.20.0->mlflow-skinny==3.6.0->mlflow) (4.9.1)
Requirement already satisfied: anyio<5,>=3.6.2 in /usr/local/lib/python3.12/dist-packages (from starlette<0.50.0,>=0.40.0->fastapi<1->mlflow-skinny==3.6.0->mlflow) (4.11.0)
Requirement already satisfied: sniffio>=1.1 in /usr/local/lib/python3.12/dist-packages (from anyio<5,>=3.6.2->starlette<0.50.0,>=0.40.0->fastapi<1->mlflow-skinny==3.6.0->mlflow) (1.3.1)
Requirement already satisfied: pyasn1<0.7.0,>=0.6.1 in /usr/local/lib/python3.12/dist-packages (from pyasn1-modules>=0.2.1->google-auth~=2.0->databricks-sdk<1,>=0.20.0->mlflow-skinny==3.6.0->mlflow) (0.6.1)
Downloading mlflow-3.6.0-py3-none-any.whl (8.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.9/8.9 MB 40.5 MB/s eta 0:00:00
Downloading mlflow_skinny-3.6.0-py3-none-any.whl (2.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.4/2.4 MB 31.5 MB/s eta 0:00:00
Downloading mlflow_tracing-3.6.0-py3-none-any.whl (1.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.3/1.3 MB 28.8 MB/s eta 0:00:00
Downloading docker-7.1.0-py3-none-any.whl (147 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 147.8/147.8 kB 6.8 MB/s eta 0:00:00
Downloading flask_cors-6.0.1-py3-none-any.whl (13 kB)
Downloading graphene-3.4.3-py2.py3-none-any.whl (114 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 114.9/114.9 kB 5.1 MB/s eta 0:00:00
Downloading gunicorn-23.0.0-py3-none-any.whl (85 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 85.0/85.0 kB 2.7 MB/s eta 0:00:00
Downloading huey-2.5.4-py3-none-any.whl (76 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 76.8/76.8 kB 2.0 MB/s eta 0:00:00
Downloading databricks_sdk-0.73.0-py3-none-any.whl (753 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 753.9/753.9 kB 36.4 MB/s eta 0:00:00
Downloading graphql_core-3.2.7-py3-none-any.whl (207 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 207.3/207.3 kB 11.8 MB/s eta 0:00:00
Downloading graphql_relay-3.2.0-py3-none-any.whl (16 kB)
Installing collected packages: huey, gunicorn, graphql-core, graphql-relay, docker, graphene, Flask-CORS, databricks-sdk, mlflow-tracing, mlflow-skinny, mlflow
Successfully installed Flask-CORS-6.0.1 databricks-sdk-0.73.0 docker-7.1.0 graphene-3.4.3 graphql-core-3.2.7 graphql-relay-3.2.0 gunicorn-23.0.0 huey-2.5.4 mlflow-3.6.0 mlflow-skinny-3.6.0 mlflow-tracing-3.6.0

In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import math
%matplotlib inline

# dbutils.library.installPyPI("mlflow")
# dbutils.library.restartPython()
import mlflow

In [8]:
!apt-get install openjdk-11-jdk -y

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  ca-certificates-java fonts-dejavu-core fonts-dejavu-extra java-common
  libatk-wrapper-java libatk-wrapper-java-jni libpcsclite1 libxt-dev libxtst6
  libxxf86dga1 openjdk-11-jdk-headless openjdk-11-jre openjdk-11-jre-headless
  x11-utils
Suggested packages:
  default-jre pcscd libxt-doc openjdk-11-demo openjdk-11-source visualvm
  libnss-mdns fonts-ipafont-gothic fonts-ipafont-mincho fonts-wqy-microhei
  | fonts-wqy-zenhei fonts-indic mesa-utils
The following NEW packages will be installed:
  ca-certificates-java fonts-dejavu-core fonts-dejavu-extra java-common
  libatk-wrapper-java libatk-wrapper-java-jni libpcsclite1 libxt-dev libxtst6
  libxxf86dga1 openjdk-11-jdk openjdk-11-jdk-headless openjdk-11-jre
  openjdk-11-jre-headless x11-utils
0 upgraded, 15 newly installed, 0 to remove and 41 not upgraded.
Need to get 122 MB of archives.
After this operation, 274 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy/main amd64 java-common all 0.72build2 [6,782 B]
Get:2 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 libpcsclite1 amd64 1.9.5-3ubuntu1 [19.8 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 openjdk-11-jre-headless amd64 11.0.28+6-1ubuntu1~22.04.1 [42.6 MB]
Get:4 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 ca-certificates-java all 20190909ubuntu1.2 [12.1 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy/main amd64 fonts-dejavu-core all 2.37-2build1 [1,041 kB]
Get:6 http://archive.ubuntu.com/ubuntu jammy/main amd64 fonts-dejavu-extra all 2.37-2build1 [2,041 kB]
Get:7 http://archive.ubuntu.com/ubuntu jammy/main amd64 libxtst6 amd64 2:1.2.3-1build4 [13.4 kB]
Get:8 http://archive.ubuntu.com/ubuntu jammy/main amd64 libxxf86dga1 amd64 2:1.1.5-0ubuntu3 [12.6 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy/main amd64 x11-utils amd64 7.7+5build2 [206 kB]
Get:10 http://archive.ubuntu.com/ubuntu jammy/main amd64 libatk-wrapper-java all 0.38.0-5build1 [53.1 kB]
Get:11 http://archive.ubuntu.com/ubuntu jammy/main amd64 libatk-wrapper-java-jni amd64 0.38.0-5build1 [49.0 kB]
Get:12 http://archive.ubuntu.com/ubuntu jammy/main amd64 libxt-dev amd64 1:1.2.1-1 [396 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 openjdk-11-jre amd64 11.0.28+6-1ubuntu1~22.04.1 [214 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 openjdk-11-jdk-headless amd64 11.0.28+6-1ubuntu1~22.04.1 [73.6 MB]
Get:15 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 openjdk-11-jdk amd64 11.0.28+6-1ubuntu1~22.04.1 [1,342 kB]
Fetched 122 MB in 2s (72.5 MB/s)
Selecting previously unselected package java-common.
(Reading database ... 125082 files and directories currently installed.)
Preparing to unpack .../00-java-common_0.72build2_all.deb ...
Unpacking java-common (0.72build2) ...
Selecting previously unselected package libpcsclite1:amd64.
Preparing to unpack .../01-libpcsclite1_1.9.5-3ubuntu1_amd64.deb ...
Unpacking libpcsclite1:amd64 (1.9.5-3ubuntu1) ...
Selecting previously unselected package openjdk-11-jre-headless:amd64.
Preparing to unpack .../02-openjdk-11-jre-headless_11.0.28+6-1ubuntu1~22.04.1_amd64.deb ...
Unpacking openjdk-11-jre-headless:amd64 (11.0.28+6-1ubuntu1~22.04.1) ...
Selecting previously unselected package ca-certificates-java.
Preparing to unpack .../03-ca-certificates-java_20190909ubuntu1.2_all.deb ...
Unpacking ca-certificates-java (20190909ubuntu1.2) ...
Selecting previously unselected package fonts-dejavu-core.
Preparing to unpack .../04-fonts-dejavu-core_2.37-2build1_all.deb ...
Unpacking fonts-dejavu-core (2.37-2build1) ...
Selecting previously unselected package fonts-dejavu-extra.
Preparing to unpack .../05-fonts-dejavu-extra_2.37-2build1_all.deb ...
Unpacking fonts-dejavu-extra (2.37-2build1) ...
Selecting previously unselected package libxtst6:amd64.
Preparing to unpack .../06-libxtst6_2%3a1.2.3-1build4_amd64.deb ...
Unpacking libxtst6:amd64 (2:1.2.3-1build4) ...
Selecting previously unselected package libxxf86dga1:amd64.
Preparing to unpack .../07-libxxf86dga1_2%3a1.1.5-0ubuntu3_amd64.deb ...
Unpacking libxxf86dga1:amd64 (2:1.1.5-0ubuntu3) ...
Selecting previously unselected package x11-utils.
Preparing to unpack .../08-x11-utils_7.7+5build2_amd64.deb ...
Unpacking x11-utils (7.7+5build2) ...
Selecting previously unselected package libatk-wrapper-java.
Preparing to unpack .../09-libatk-wrapper-java_0.38.0-5build1_all.deb ...
Unpacking libatk-wrapper-java (0.38.0-5build1) ...
Selecting previously unselected package libatk-wrapper-java-jni:amd64.
Preparing to unpack .../10-libatk-wrapper-java-jni_0.38.0-5build1_amd64.deb ...
Unpacking libatk-wrapper-java-jni:amd64 (0.38.0-5build1) ...
Selecting previously unselected package libxt-dev:amd64.
Preparing to unpack .../11-libxt-dev_1%3a1.2.1-1_amd64.deb ...
Unpacking libxt-dev:amd64 (1:1.2.1-1) ...
Selecting previously unselected package openjdk-11-jre:amd64.
Preparing to unpack .../12-openjdk-11-jre_11.0.28+6-1ubuntu1~22.04.1_amd64.deb ...
Unpacking openjdk-11-jre:amd64 (11.0.28+6-1ubuntu1~22.04.1) ...
Selecting previously unselected package openjdk-11-jdk-headless:amd64.
Preparing to unpack .../13-openjdk-11-jdk-headless_11.0.28+6-1ubuntu1~22.04.1_amd64.deb ...
Unpacking openjdk-11-jdk-headless:amd64 (11.0.28+6-1ubuntu1~22.04.1) ...
Selecting previously unselected package openjdk-11-jdk:amd64.
Preparing to unpack .../14-openjdk-11-jdk_11.0.28+6-1ubuntu1~22.04.1_amd64.deb ...
Unpacking openjdk-11-jdk:amd64 (11.0.28+6-1ubuntu1~22.04.1) ...
Setting up java-common (0.72build2) ...
Setting up libxtst6:amd64 (2:1.2.3-1build4) ...
Setting up libxxf86dga1:amd64 (2:1.1.5-0ubuntu3) ...
Setting up libxt-dev:amd64 (1:1.2.1-1) ...
Setting up fonts-dejavu-core (2.37-2build1) ...
Setting up libpcsclite1:amd64 (1.9.5-3ubuntu1) ...
Setting up fonts-dejavu-extra (2.37-2build1) ...
Setting up x11-utils (7.7+5build2) ...
Setting up libatk-wrapper-java (0.38.0-5build1) ...
Setting up libatk-wrapper-java-jni:amd64 (0.38.0-5build1) ...
Setting up openjdk-11-jre-headless:amd64 (11.0.28+6-1ubuntu1~22.04.1) ...
update-alternatives: using /usr/lib/jvm/java-11-openjdk-amd64/bin/java to provide /usr/bin/java (java) in auto mode
update-alternatives: using /usr/lib/jvm/java-11-openjdk-amd64/bin/jjs to provide /usr/bin/jjs (jjs) in auto mode
update-alternatives: using /usr/lib/jvm/java-11-openjdk-amd64/bin/keytool to provide /usr/bin/keytool (keytool) in auto mode
update-alternatives: using /usr/lib/jvm/java-11-openjdk-amd64/bin/rmid to provide /usr/bin/rmid (rmid) in auto mode
update-alternatives: using /usr/lib/jvm/java-11-openjdk-amd64/bin/rmiregistry to provide /usr/bin/rmiregistry (rmiregistry) in auto mode
update-alternatives: using /usr/lib/jvm/java-11-openjdk-amd64/bin/pack200 to provide /usr/bin/pack200 (pack200) in auto mode
update-alternatives: using /usr/lib/jvm/java-11-openjdk-amd64/bin/unpack200 to provide /usr/bin/unpack200 (unpack200) in auto mode
update-alternatives: using /usr/lib/jvm/java-11-openjdk-amd64/lib/jexec to provide /usr/bin/jexec (jexec) in auto mode
Setting up openjdk-11-jre:amd64 (11.0.28+6-1ubuntu1~22.04.1) ...
Setting up openjdk-11-jdk-headless:amd64 (11.0.28+6-1ubuntu1~22.04.1) ...
update-alternatives: using /usr/lib/jvm/java-11-openjdk-amd64/bin/jar to provide /usr/bin/jar (jar) in auto mode
update-alternatives: using /usr/lib/jvm/java-11-openjdk-amd64/bin/jarsigner to provide /usr/bin/jarsigner (jarsigner) in auto mode
update-alternatives: using /usr/lib/jvm/java-11-openjdk-amd64/bin/javac to provide /usr/bin/javac (javac) in auto mode
update-alternatives: using /usr/lib/jvm/java-11-openjdk-amd64/bin/javadoc to provide /usr/bin/javadoc (javadoc) in auto mode
update-alternatives: using /usr/lib/jvm/java-11-openjdk-amd64/bin/javap to provide /usr/bin/javap (javap) in auto mode
update-alternatives: using /usr/lib/jvm/java-11-openjdk-amd64/bin/jcmd to provide /usr/bin/jcmd (jcmd) in auto mode
update-alternatives: using /usr/lib/jvm/java-11-openjdk-amd64/bin/jdb to provide /usr/bin/jdb (jdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-11-openjdk-amd64/bin/jdeprscan to provide /usr/bin/jdeprscan (jdeprscan) in auto mode
update-alternatives: using /usr/lib/jvm/java-11-openjdk-amd64/bin/jdeps to provide /usr/bin/jdeps (jdeps) in auto mode
update-alternatives: using /usr/lib/jvm/java-11-openjdk-amd64/bin/jfr to provide /usr/bin/jfr (jfr) in auto mode
update-alternatives: using /usr/lib/jvm/java-11-openjdk-amd64/bin/jimage to provide /usr/bin/jimage (jimage) in auto mode
update-alternatives: using /usr/lib/jvm/java-11-openjdk-amd64/bin/jinfo to provide /usr/bin/jinfo (jinfo) in auto mode
update-alternatives: using /usr/lib/jvm/java-11-openjdk-amd64/bin/jlink to provide /usr/bin/jlink (jlink) in auto mode
update-alternatives: using /usr/lib/jvm/java-11-openjdk-amd64/bin/jmap to provide /usr/bin/jmap (jmap) in auto mode
update-alternatives: using /usr/lib/jvm/java-11-openjdk-amd64/bin/jmod to provide /usr/bin/jmod (jmod) in auto mode
update-alternatives: using /usr/lib/jvm/java-11-openjdk-amd64/bin/jps to provide /usr/bin/jps (jps) in auto mode
update-alternatives: using /usr/lib/jvm/java-11-openjdk-amd64/bin/jrunscript to provide /usr/bin/jrunscript (jrunscript) in auto mode
update-alternatives: using /usr/lib/jvm/java-11-openjdk-amd64/bin/jshell to provide /usr/bin/jshell (jshell) in auto mode
update-alternatives: using /usr/lib/jvm/java-11-openjdk-amd64/bin/jstack to provide /usr/bin/jstack (jstack) in auto mode
update-alternatives: using /usr/lib/jvm/java-11-openjdk-amd64/bin/jstat to provide /usr/bin/jstat (jstat) in auto mode
update-alternatives: using /usr/lib/jvm/java-11-openjdk-amd64/bin/jstatd to provide /usr/bin/jstatd (jstatd) in auto mode
update-alternatives: using /usr/lib/jvm/java-11-openjdk-amd64/bin/rmic to provide /usr/bin/rmic (rmic) in auto mode
update-alternatives: using /usr/lib/jvm/java-11-openjdk-amd64/bin/serialver to provide /usr/bin/serialver (serialver) in auto mode
update-alternatives: using /usr/lib/jvm/java-11-openjdk-amd64/bin/jaotc to provide /usr/bin/jaotc (jaotc) in auto mode
update-alternatives: using /usr/lib/jvm/java-11-openjdk-amd64/bin/jhsdb to provide /usr/bin/jhsdb (jhsdb) in auto mode
Setting up openjdk-11-jdk:amd64 (11.0.28+6-1ubuntu1~22.04.1) ...
update-alternatives: using /usr/lib/jvm/java-11-openjdk-amd64/bin/jconsole to provide /usr/bin/jconsole (jconsole) in auto mode
Setting up ca-certificates-java (20190909ubuntu1.2) ...
head: cannot open '/etc/ssl/certs/java/cacerts' for reading: No such file or directory
Adding debian:SecureSign_RootCA11.pem
Adding debian:USERTrust_RSA_Certification_Authority.pem
Adding debian:AffirmTrust_Commercial.pem
Adding debian:DigiCert_Global_Root_G3.pem
Adding debian:Entrust_Root_Certification_Authority_-_G2.pem
Adding debian:certSIGN_Root_CA_G2.pem
Adding debian:Starfield_Root_Certificate_Authority_-_G2.pem
Adding debian:SSL.com_EV_Root_Certification_Authority_RSA_R2.pem
Adding debian:QuoVadis_Root_CA_3.pem
Adding debian:GlobalSign_Root_CA_-_R6.pem
Adding debian:D-TRUST_EV_Root_CA_1_2020.pem
Adding debian:HARICA_TLS_RSA_Root_CA_2021.pem
Adding debian:Trustwave_Global_Certification_Authority.pem
Adding debian:QuoVadis_Root_CA_2_G3.pem
Adding debian:Comodo_AAA_Services_root.pem
Adding debian:Certum_EC-384_CA.pem
Adding debian:GlobalSign_ECC_Root_CA_-_R4.pem
Adding debian:Hellenic_Academic_and_Research_Institutions_ECC_RootCA_2015.pem
Adding debian:GlobalSign_Root_CA.pem
Adding debian:HiPKI_Root_CA_-_G1.pem
Adding debian:emSign_Root_CA_-_G1.pem
Adding debian:SSL.com_Root_Certification_Authority_RSA.pem
Adding debian:CFCA_EV_ROOT.pem
Adding debian:COMODO_Certification_Authority.pem
Adding debian:DigiCert_High_Assurance_EV_Root_CA.pem
Adding debian:T-TeleSec_GlobalRoot_Class_3.pem
Adding debian:D-TRUST_Root_Class_3_CA_2_2009.pem
Adding debian:Autoridad_de_Certificacion_Firmaprofesional_CIF_A62634068.pem
Adding debian:Izenpe.com.pem
Adding debian:HARICA_TLS_ECC_Root_CA_2021.pem
Adding debian:D-TRUST_Root_Class_3_CA_2_EV_2009.pem
Adding debian:Security_Communication_RootCA2.pem
Adding debian:UCA_Global_G2_Root.pem
Adding debian:D-TRUST_BR_Root_CA_1_2020.pem
Adding debian:Secure_Global_CA.pem
Adding debian:GTS_Root_R3.pem
Adding debian:ISRG_Root_X1.pem
Adding debian:Entrust_Root_Certification_Authority.pem
Adding debian:Hellenic_Academic_and_Research_Institutions_RootCA_2015.pem
Adding debian:GlobalSign_Root_E46.pem
Adding debian:vTrus_Root_CA.pem
Adding debian:TWCA_Root_Certification_Authority.pem
Adding debian:AffirmTrust_Premium.pem
Adding debian:XRamp_Global_CA_Root.pem
Adding debian:Starfield_Class_2_CA.pem
Adding debian:Buypass_Class_2_Root_CA.pem
Adding debian:Entrust.net_Premium_2048_Secure_Server_CA.pem
Adding debian:SSL.com_EV_Root_Certification_Authority_ECC.pem
Adding debian:Starfield_Services_Root_Certificate_Authority_-_G2.pem
Adding debian:Amazon_Root_CA_2.pem
Adding debian:GLOBALTRUST_2020.pem
Adding debian:Microsoft_ECC_Root_Certificate_Authority_2017.pem
Adding debian:certSIGN_ROOT_CA.pem
Adding debian:OISTE_WISeKey_Global_Root_GC_CA.pem
Adding debian:DigiCert_Assured_ID_Root_G2.pem
Adding debian:OISTE_WISeKey_Global_Root_GB_CA.pem
Adding debian:ePKI_Root_Certification_Authority.pem
Adding debian:Certum_Trusted_Root_CA.pem
Adding debian:Security_Communication_ECC_RootCA1.pem
Adding debian:Amazon_Root_CA_1.pem
Adding debian:ACCVRAIZ1.pem
Adding debian:QuoVadis_Root_CA_2.pem
Adding debian:TWCA_Global_Root_CA.pem
Adding debian:Amazon_Root_CA_3.pem
Adding debian:emSign_Root_CA_-_C1.pem
Adding debian:DigiCert_Global_Root_CA.pem
Adding debian:Security_Communication_RootCA3.pem
Adding debian:UCA_Extended_Validation_Root.pem
Adding debian:GTS_Root_R1.pem
Adding debian:Baltimore_CyberTrust_Root.pem
Adding debian:GDCA_TrustAUTH_R5_ROOT.pem
Adding debian:Certum_Trusted_Network_CA_2.pem
Adding debian:Microsec_e-Szigno_Root_CA_2009.pem
Adding debian:NAVER_Global_Root_Certification_Authority.pem
Adding debian:GTS_Root_R4.pem
Adding debian:Go_Daddy_Root_Certificate_Authority_-_G2.pem
Adding debian:Buypass_Class_3_Root_CA.pem
Adding debian:e-Szigno_Root_CA_2017.pem
Adding debian:Telia_Root_CA_v2.pem
Adding debian:QuoVadis_Root_CA_1_G3.pem
Adding debian:Certainly_Root_E1.pem
Adding debian:AC_RAIZ_FNMT-RCM.pem
Adding debian:DigiCert_TLS_ECC_P384_Root_G5.pem
Adding debian:AffirmTrust_Networking.pem
Adding debian:COMODO_RSA_Certification_Authority.pem
Adding debian:GlobalSign_Root_R46.pem
Adding debian:Trustwave_Global_ECC_P384_Certification_Authority.pem
Adding debian:TUBITAK_Kamu_SM_SSL_Kok_Sertifikasi_-_Surum_1.pem
Adding debian:Go_Daddy_Class_2_CA.pem
Adding debian:Certigna_Root_CA.pem
Adding debian:vTrus_ECC_Root_CA.pem
Adding debian:GlobalSign_ECC_Root_CA_-_R5.pem
Adding debian:NetLock_Arany_=Class_Gold=_Főtanúsítvány.pem
Adding debian:Microsoft_RSA_Root_Certificate_Authority_2017.pem
Adding debian:SZAFIR_ROOT_CA2.pem
Adding debian:Certum_Trusted_Network_CA.pem
Adding debian:CA_Disig_Root_R2.pem
Adding debian:Trustwave_Global_ECC_P256_Certification_Authority.pem
Adding debian:Hongkong_Post_Root_CA_3.pem
Adding debian:QuoVadis_Root_CA_3_G3.pem
Adding debian:SSL.com_Root_Certification_Authority_ECC.pem
Adding debian:Entrust_Root_Certification_Authority_-_G4.pem
Adding debian:GTS_Root_R2.pem
Adding debian:ISRG_Root_X2.pem
Adding debian:emSign_ECC_Root_CA_-_C3.pem
Adding debian:SwissSign_Silver_CA_-_G2.pem
Adding debian:Actalis_Authentication_Root_CA.pem
Adding debian:T-TeleSec_GlobalRoot_Class_2.pem
Adding debian:ANF_Secure_Server_Root_CA.pem
Adding debian:USERTrust_ECC_Certification_Authority.pem
Adding debian:COMODO_ECC_Certification_Authority.pem
Adding debian:DigiCert_Global_Root_G2.pem
Adding debian:Security_Communication_Root_CA.pem
Adding debian:AC_RAIZ_FNMT-RCM_SERVIDORES_SEGUROS.pem
Adding debian:DigiCert_TLS_RSA4096_Root_G5.pem
Adding debian:DigiCert_Assured_ID_Root_G3.pem
Adding debian:TeliaSonera_Root_CA_v1.pem
Adding debian:SecureTrust_CA.pem
Adding debian:DigiCert_Trusted_Root_G4.pem
Adding debian:Certainly_Root_R1.pem
Adding debian:Entrust_Root_Certification_Authority_-_EC1.pem
Adding debian:TunTrust_Root_CA.pem
Adding debian:IdenTrust_Commercial_Root_CA_1.pem
Adding debian:Certigna.pem
Adding debian:Amazon_Root_CA_4.pem
Adding debian:SwissSign_Gold_CA_-_G2.pem
Adding debian:DigiCert_Assured_ID_Root_CA.pem
Adding debian:AffirmTrust_Premium_ECC.pem
Adding debian:Atos_TrustedRoot_2011.pem
Adding debian:GlobalSign_Root_CA_-_R3.pem
Adding debian:IdenTrust_Public_Sector_Root_CA_1.pem
Adding debian:emSign_ECC_Root_CA_-_G3.pem
Adding debian:Sectigo_Public_Server_Authentication_Root_R46.pem
Adding debian:Atos_TrustedRoot_Root_CA_ECC_TLS_2021.pem
Adding debian:Atos_TrustedRoot_Root_CA_RSA_TLS_2021.pem
Adding debian:BJCA_Global_Root_CA2.pem
Adding debian:BJCA_Global_Root_CA1.pem
Adding debian:CommScope_Public_Trust_ECC_Root-01.pem
Adding debian:Sectigo_Public_Server_Authentication_Root_E46.pem
Adding debian:SSL.com_TLS_ECC_Root_CA_2022.pem
Adding debian:SSL.com_TLS_RSA_Root_CA_2022.pem
Adding debian:TrustAsia_Global_Root_CA_G4.pem
Adding debian:CommScope_Public_Trust_RSA_Root-01.pem
Adding debian:CommScope_Public_Trust_RSA_Root-02.pem
Adding debian:TrustAsia_Global_Root_CA_G3.pem
Adding debian:CommScope_Public_Trust_ECC_Root-02.pem
done.
Processing triggers for mailcap (3.70+nmu1ubuntu1) ...
Processing triggers for fontconfig (2.13.1-4.2ubuntu5) ...
Processing triggers for hicolor-icon-theme (0.17-2) ...
Processing triggers for libc-bin (2.35-0ubuntu3.8) ...
/sbin/ldconfig.real: /usr/local/lib/libtcm.so.1 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_level_zero.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc_proxy.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_0.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_5.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libumf.so.1 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_level_zero_v2.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbb.so.12 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libhwloc.so.15 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtcm_debug.so.1 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_opencl.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_loader.so.0 is not a symbolic link

Processing triggers for man-db (2.10.2-1) ...
Processing triggers for ca-certificates (20240203~22.04.1) ...
Updating certificates in /etc/ssl/certs...
0 added, 0 removed; done.
Running hooks in /etc/ca-certificates/update.d...

done.
done.

In [9]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["PATH"] += ":/usr/lib/jvm/java-11-openjdk-amd64/bin"

In [10]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.7)

In [13]:
import os
os.environ["PYSPARK_PYTHON"] = "python3"

In [12]:
from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .appName("moive analysis") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [16]:
movies_df = spark.read.load("/content/movies.csv", format='csv', header = True)
ratings_df = spark.read.load("/content/ratings.csv", format='csv', header = True)
links_df = spark.read.load("/content/links.csv", format='csv', header = True)
tags_df = spark.read.load("/content/tags.csv", format='csv', header = True)

In [17]:
type(movies_df)

pyspark.sql.dataframe.DataFrame

In [18]:
movies_df.count()

87585

In [19]:
movies_df.createOrReplaceTempView("movies_df")

spark.sql("SELECT movieId, title, genres FROM movies_df LIMIT 10").show()

+-------+--------------------+--------------------+
|movieId|               title|              genres|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
|      6|         Heat (1995)|Action|Crime|Thri...|
|      7|      Sabrina (1995)|      Comedy|Romance|
|      8| Tom and Huck (1995)|  Adventure|Children|
|      9| Sudden Death (1995)|              Action|
|     10|    GoldenEye (1995)|Action|Adventure|...|
+-------+--------------------+--------------------+

In [20]:
#ratings_df.show(10)
ratings_df.createOrReplaceTempView("ratings_df")
spark.sql("SELECT * FROM ratings_df LIMIT 10").show()

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|     1|     17|   4.0|944249077|
|     1|     25|   1.0|944250228|
|     1|     29|   2.0|943230976|
|     1|     30|   5.0|944249077|
|     1|     32|   5.0|943228858|
|     1|     34|   2.0|943228491|
|     1|     36|   1.0|944249008|
|     1|     80|   5.0|944248943|
|     1|    110|   3.0|943231119|
|     1|    111|   5.0|944249008|
+------+-------+------+---------+

In [21]:

# For Links Dataset
links_df.createOrReplaceTempView("links_df")
spark.sql("SELECT * FROM links_df LIMIT 10").show()

+-------+-------+------+
|movieId| imdbId|tmdbId|
+-------+-------+------+
|      1|0114709|   862|
|      2|0113497|  8844|
|      3|0113228| 15602|
|      4|0114885| 31357|
|      5|0113041| 11862|
|      6|0113277|   949|
|      7|0114319| 11860|
|      8|0112302| 45325|
|      9|0114576|  9091|
|     10|0113189|   710|
+-------+-------+------+

In [22]:
# For Tags Dataset
tags_df.createOrReplaceTempView("tags_df")
spark.sql("SELECT * FROM tags_df LIMIT 10").show()

+------+-------+--------------------+----------+
|userId|movieId|                 tag| timestamp|
+------+-------+--------------------+----------+
|    22|  26479|         Kevin Kline|1583038886|
|    22|  79592|            misogyny|1581476297|
|    22| 247150|          acrophobia|1622483469|
|    34|   2174|               music|1249808064|
|    34|   2174|               weird|1249808102|
|    34|   8623|        Steve Martin|1249808497|
|    55|   5766|the killls and th...|1319322078|
|    58|   7451|            bullying|1672551536|
|    58|   7451|              clique|1672551510|
|    58|   7451|       coming of age|1672551502|
+------+-------+--------------------+----------+

In [24]:
tmp1 = ratings_df.groupBy("userID").count().toPandas()['count'].min()
tmp2 = ratings_df.groupBy("movieId").count().toPandas()['count'].min()
print('For the users that rated movies and the movies that were rated:')
print('Minimum number of ratings per user is {}'.format(tmp1))
print('Minimum number of ratings per movie is {}'.format(tmp2))

For the users that rated movies and the movies that were rated:
Minimum number of ratings per user is 20
Minimum number of ratings per movie is 1

In [25]:
tmp1 = sum(ratings_df.groupBy("movieId").count().toPandas()['count'] == 1)
tmp2 = ratings_df.select('movieId').distinct().count()
print('{} out of {} movies are rated by only one user'.format(tmp1, tmp2))

13716 out of 38784 movies are rated by only one user


**Part 1: Spark SQL and OLAP**

In [26]:
movies_df.registerTempTable("movies")
ratings_df.registerTempTable("ratings")
links_df.registerTempTable("links")
tags_df.registerTempTable("tags")

/usr/local/lib/python3.12/dist-packages/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [27]:
# sql , it shows how many unique user are there in rating dataset
num_users = spark.sql("SELECT COUNT(DISTINCT userID) AS num_users FROM ratings")

num_users.show()

+---------+
|num_users|
+---------+
|    14739|
+---------+

In [28]:
ratings_df.select("userId").distinct().count()

14739

In [29]:
type(ratings_df.select("userId"))

pyspark.sql.dataframe.DataFrame

**NO.OF Movies**

In [30]:
num_movies = spark.sql("SELECT count (distinct movieID) as num_movies FROM movies")
num_movies.show()

+----------+
|num_movies|
+----------+
|     87585|
+----------+

In [34]:
movies_df.select('movieID').distinct().count()

87585

In [36]:
rated_by_users = ratings_df.select('movieID').distinct().count()
print('How many movies are rated by users?', rated_by_users)

How many movies are rated by users? 38784

In [37]:
unrated_movies_df = movies_df.join(ratings_df, movies_df.movieId == ratings_df.movieId, "left_anti")

unrated_movies_df.show(10)

+-------+--------------------+--------------------+
|movieId|               title|              genres|
+-------+--------------------+--------------------+
| 100008|    Flaw, The (2011)|         Documentary|
| 100015|Chicago Massacre:...|Crime|Drama|Thriller|
| 100040|   True Blue (2001) |Crime|Drama|Thriller|
| 100042|Guns of Fort Pett...|         War|Western|
| 100054| Stella Maris (1918)|               Drama|
| 100099|Pictures of the O...|         Documentary|
| 100103|Day and Night (Le...|               Drama|
| 100131| We the Party (2012)|              Comedy|
| 100143|End of Love, The ...|               Drama|
| 100161|Oppai Volleyball ...|              Comedy|
+-------+--------------------+--------------------+
only showing top 10 rows

In [38]:
spark.sql("SELECT DISTINCT genres FROM movies LIMIT 10").show()

+--------------------+
|              genres|
+--------------------+
|Comedy|Horror|Thr...|
|Adventure|Sci-Fi|...|
|Action|Adventure|...|
| Action|Drama|Horror|
|Comedy|Drama|Horr...|
|Adventure|Mystery...|
|Children|Comedy|D...|
|Action|Animation|...|
|Action|Adventure|...|
|Animation|Childre...|
+--------------------+

In [40]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import split, explode, col

# Create Spark session
spark = SparkSession.builder \
    .appName("Movie Genres Split") \
    .getOrCreate()

# Example: Load movies dataset
# Replace with your actual CSV path
movies = spark.read.csv("movies.csv", header=True, inferSchema=True)

# Split the 'genres' column by '|' and explode into multiple rows
genres_exploded = movies.select(explode(split(col("genres"), "\\|")).alias("genre"))

# Remove duplicates and unwanted entries
unique_genres_clean = genres_exploded.filter(
    (~col("genre").rlike('[()"]')) &    # Remove parentheses or quotes
    (~col("genre").contains('!')) &     # Remove exclamation marks
    (~col("genre").contains(',')) &     # Remove commas
    (col("genre") != "") &              # Remove empty strings
    (~col("genre").like('%no genres listed%'))  # Remove placeholder genres
).distinct()

# Show cleaned unique genres
unique_genres_clean.orderBy("genre").show(truncate=False)

+-----------+
|genre      |
+-----------+
|Action     |
|Adventure  |
|Animation  |
|Children   |
|Comedy     |
|Crime      |
|Documentary|
|Drama      |
|Fantasy    |
|Film-Noir  |
|Horror     |
|IMAX       |
|Musical    |
|Mystery    |
|Romance    |
|Sci-Fi     |
|Thriller   |
|War        |
|Western    |
+-----------+

In [42]:
from pyspark.sql.types import *
from pyspark.sql.functions import col, mean, udf, lit, current_timestamp, unix_timestamp, array_contains

# UDF to split genres into an array
extract_genres = udf(lambda x: x.split("|") if x else [], ArrayType(StringType()))

# Create cleaned DataFrame
movies_df_clean = movies_df.select(
    "movieId",
    "title",
    extract_genres(col("genres")).alias("genres")
)

# Show a few rows
movies_df_clean.show(5, truncate=False)

# Register as a temp view (optional, for Spark SQL)
movies_df_clean.createOrReplaceTempView("movies_df_clean")

# Query via SQL
spark.sql("SELECT * FROM movies_df_clean LIMIT 5").show(truncate=False)

+-------+----------------------------------+-------------------------------------------------+
|movieId|title                             |genres                                           |
+-------+----------------------------------+-------------------------------------------------+
|1      |Toy Story (1995)                  |[Adventure, Animation, Children, Comedy, Fantasy]|
|2      |Jumanji (1995)                    |[Adventure, Children, Fantasy]                   |
|3      |Grumpier Old Men (1995)           |[Comedy, Romance]                                |
|4      |Waiting to Exhale (1995)          |[Comedy, Drama, Romance]                         |
|5      |Father of the Bride Part II (1995)|[Comedy]                                         |
+-------+----------------------------------+-------------------------------------------------+
only showing top 5 rows

+-------+----------------------------------+-------------------------------------------------+
|movieId|title                             |genres                                           |
+-------+----------------------------------+-------------------------------------------------+
|1      |Toy Story (1995)                  |[Adventure, Animation, Children, Comedy, Fantasy]|
|2      |Jumanji (1995)                    |[Adventure, Children, Fantasy]                   |
|3      |Grumpier Old Men (1995)           |[Comedy, Romance]                                |
|4      |Waiting to Exhale (1995)          |[Comedy, Drama, Romance]                         |
|5      |Father of the Bride Part II (1995)|[Comedy]                                         |
+-------+----------------------------------+-------------------------------------------------+

In [43]:
genres_result = list(set(movies_df_clean.select('genres').rdd.flatMap(tuple).flatMap(tuple).collect()))
genres_result

['Action',
 'Thriller',
 'Animation',
 'Documentary',
 'Sci-Fi',
 'Fantasy',
 'Comedy',
 ' We\'re Comin\' To Get Ya!"" (2014)"',
 'Mystery',
 'Drama',
 'IMAX',
 'War',
 'Horror',
 'Adventure',
 'Film-Noir',
 'Romance',
 'Musical',
 'Children',
 'Crime',
 'Western',
 '(no genres listed)']

In [44]:
genres_result = list(set(movies_df_clean.select('genres').rdd.flatMap(tuple).flatMap(tuple).collect()))
genres_result

['Action',
 'Thriller',
 'Animation',
 'Documentary',
 'Sci-Fi',
 'Fantasy',
 'Comedy',
 ' We\'re Comin\' To Get Ya!"" (2014)"',
 'Mystery',
 'Drama',
 'IMAX',
 'War',
 'Horror',
 'Adventure',
 'Film-Noir',
 'Romance',
 'Musical',
 'Children',
 'Crime',
 'Western',
 '(no genres listed)']

In [45]:
movie_pdf = movies_df.toPandas()
movie_pdf['genres'].str.get_dummies(sep='|').head()

,"We're Comin' To Get Ya!"""" (2014)""",(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,0,0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
list_of_movie = list(movie_pdf['title'])

In [48]:
#ratings_df.show(10)

# Register DataFrame as a SQL view
ratings_df.createOrReplaceTempView("ratings_df")

# Use Spark SQL to preview
spark.sql("SELECT * FROM ratings_df LIMIT 5").show(truncate=False)

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|1     |17     |4.0   |944249077|
|1     |25     |1.0   |944250228|
|1     |29     |2.0   |943230976|
|1     |30     |5.0   |944249077|
|1     |32     |5.0   |943228858|
+------+-------+------+---------+

In [49]:
movie_ratings=ratings_df.drop('timestamp')

In [50]:
# Data type convert
from pyspark.sql.types import IntegerType, FloatType
movie_ratings = movie_ratings.withColumn("userId", movie_ratings["userId"].cast(IntegerType()))
movie_ratings = movie_ratings.withColumn("movieId", movie_ratings["movieId"].cast(IntegerType()))
movie_ratings = movie_ratings.withColumn("rating", movie_ratings["rating"].cast(FloatType()))

In [51]:
# Register DataFrame as SQL view
movie_ratings.createOrReplaceTempView("movie_ratings")

# Use Spark SQL to preview data
spark.sql("SELECT * FROM movie_ratings LIMIT 10").show(truncate=False)

+------+-------+------+
|userId|movieId|rating|
+------+-------+------+
|1     |17     |4.0   |
|1     |25     |1.0   |
|1     |29     |2.0   |
|1     |30     |5.0   |
|1     |32     |5.0   |
|1     |34     |2.0   |
|1     |36     |1.0   |
|1     |80     |5.0   |
|1     |110    |3.0   |
|1     |111    |5.0   |
+------+-------+------+

In [52]:
# import package
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.recommendation import ALS
from pyspark.ml.tuning import CrossValidator,ParamGridBuilder

In [53]:
#Create test and train set
(training,test)=movie_ratings.randomSplit([0.8,0.2])

In [54]:
# Create ALS model
# Build the recommendation model using ALS on the training data
# Note we set cold start strategy to 'drop' to ensure we don't get NaN evaluation metrics
als = ALS(maxIter=5, rank=10, regParam=0.01, userCol="userId", itemCol="movieId", ratingCol="rating",
          coldStartStrategy="drop")

In [55]:
# 1st print a list of parameters
print(als.explainParams())

alpha: alpha for implicit preference (default: 1.0)
blockSize: block size for stacking input data in matrices. Data is stacked within partitions. If block size is more than remaining data in a partition then it is adjusted to the size of this data. (default: 4096)
checkpointInterval: set checkpoint interval (>= 1) or disable checkpoint (-1). E.g. 10 means that the cache will get checkpointed every 10 iterations. Note: this setting will be ignored if the checkpoint directory is not set in the SparkContext. (default: 10)
coldStartStrategy: strategy for dealing with unknown or new users/items at prediction time. This may be useful in cross-validation or production scenarios, for handling user/item ids the model has not seen in the training data. Supported values: 'nan', 'drop'. (default: nan, current: drop)
finalStorageLevel: StorageLevel for ALS model factors. (default: MEMORY_AND_DISK)
implicitPrefs: whether to use implicit preference (default: False)
intermediateStorageLevel: StorageLevel for intermediate datasets. Cannot be 'NONE'. (default: MEMORY_AND_DISK)
itemCol: column name for item ids. Ids must be within the integer value range. (default: item, current: movieId)
maxIter: max number of iterations (>= 0). (default: 10, current: 5)
nonnegative: whether to use nonnegative constraint for least squares (default: False)
numItemBlocks: number of item blocks (default: 10)
numUserBlocks: number of user blocks (default: 10)
predictionCol: prediction column name. (default: prediction)
rank: rank of the factorization (default: 10, current: 10)
ratingCol: column name for ratings (default: rating, current: rating)
regParam: regularization parameter (>= 0). (default: 0.1, current: 0.01)
seed: random seed. (default: 4552126003571142724)
userCol: column name for user ids. Ids must be within the integer value range. (default: user, current: userId)

In [56]:
#Tune model using ParamGridBuilder
# it will take long time in the cv period, so just use few parameter to try

paramGrid = (ParamGridBuilder()
             .addGrid(als.regParam, [0.01])
             .addGrid(als.rank, [10])
             .addGrid(als.maxIter, [15])
             .build())

# paramGrid = (ParamGridBuilder()
#              .addGrid(als.regParam, [0.01, 0.5, 1, 1.5])
#              .addGrid(als.rank, [10, 15, 20, 25])
#              .addGrid(als.maxIter, [1, 5, 10, 15])
#              .build())

In [57]:
# Define evaluator as RMSE

evaluator = RegressionEvaluator(metricName="rmse", labelCol="rating",
                                predictionCol="prediction")

In [58]:
from pyspark.ml.tuning import CrossValidator
# Build Cross validation
# Create 5-fold CrossValidator
# it takes too long that I only use 2-fold
cv = CrossValidator(estimator=als, estimatorParamMaps=paramGrid, evaluator=evaluator, numFolds=2)

# Run cross validations
cvModel = cv.fit(training)
# this will likely take a fair amount of time because of the amount of models that we're creating and testing

In [59]:
# Extract the best model selected by CV
best_model = cvModel.bestModel

In [60]:
#Fit ALS model to training data

# specify parameter settings by the best model obtained via CV
print ("**Best Model**")
print ("Rank: ", best_model)
print (" MaxIter: ", str(best_model._java_obj.parent().getMaxIter()))
print (" RegParam:",  best_model._java_obj.parent().regParam())

**Best Model**
Rank:  ALSModel: uid=ALS_4ad983ccc103, rank=10
 MaxIter:  15
 RegParam: ALS_4ad983ccc103__regParam

In [61]:
#Generate predictions and evaluate using RMSE
predictions=best_model.transform(test)
rmse = evaluator.evaluate(predictions)

In [62]:
#Print RMSE
print ("RMSE = "+str(rmse))

RMSE = 0.8489625613296988

In [63]:
#Extract best model from the tuning exercise using ParamGridBuilder

als_best = ALS(maxIter=15, rank=10, regParam=0.01, userCol="userId", itemCol="movieId", ratingCol="rating",
          coldStartStrategy="drop")
model = als_best.fit(training)

In [66]:
# Register DataFrame as a temporary SQL view
predictions.createOrReplaceTempView("predictions")

# Query and show first 10 rows
spark.sql("SELECT * FROM predictions LIMIT 10").show(truncate=False)

+------+-------+------+----------+
|userId|movieId|rating|prediction|
+------+-------+------+----------+
|148   |2366   |1.0   |1.2940143 |
|496   |1580   |3.5   |3.6057587 |
|833   |44022  |4.0   |3.2705681 |
|4935  |1645   |5.0   |5.0059037 |
|4935  |3175   |4.5   |4.662366  |
|6466  |1088   |2.0   |3.284985  |
|7982  |1645   |1.0   |4.4000382 |
|8086  |1580   |5.0   |4.1907616 |
|8086  |1645   |4.0   |4.209381  |
|540   |1591   |4.0   |3.6335447 |
+------+-------+------+----------+

In [68]:
alldata=best_model.transform(movie_ratings)
rmse = evaluator.evaluate(alldata)
print ("RMSE = "+str(rmse))

RMSE = 0.7077683395258209

In [69]:
alldata.registerTempTable("alldata")

/usr/local/lib/python3.12/dist-packages/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [70]:
spark.sql("SELECT * FROM alldata LIMIT 10").show(truncate=False)

+------+-------+------+----------+
|userId|movieId|rating|prediction|
+------+-------+------+----------+
|148   |1      |1.0   |1.8346332 |
|148   |2      |2.5   |1.7208279 |
|148   |10     |4.0   |3.1920507 |
|148   |47     |3.5   |3.0077496 |
|148   |50     |4.0   |3.2468784 |
|148   |110    |4.0   |3.5731668 |
|148   |111    |3.0   |1.8662812 |
|148   |165    |4.0   |3.3998346 |
|148   |260    |4.5   |3.9098592 |
|148   |288    |1.0   |2.142435  |
+------+-------+------+----------+

In [71]:
spark.sql("""
    SELECT *
    FROM movies
    JOIN alldata
    ON movies.movieId = alldata.movieId
    LIMIT 10
""").show(truncate=False)

+-------+-----------------------------------------+-------------------------------------------+------+-------+------+----------+
|movieId|title                                    |genres                                     |userId|movieId|rating|prediction|
+-------+-----------------------------------------+-------------------------------------------+------+-------+------+----------+
|1      |Toy Story (1995)                         |Adventure|Animation|Children|Comedy|Fantasy|148   |1      |1.0   |1.8346332 |
|2      |Jumanji (1995)                           |Adventure|Children|Fantasy                 |148   |2      |2.5   |1.7208279 |
|10     |GoldenEye (1995)                         |Action|Adventure|Thriller                  |148   |10     |4.0   |3.1920507 |
|47     |Seven (a.k.a. Se7en) (1995)              |Mystery|Thriller                           |148   |47     |3.5   |3.0077496 |
|50     |Usual Suspects, The (1995)               |Crime|Mystery|Thriller                     |148   |50     |4.0   |3.2468784 |
|110    |Braveheart (1995)                        |Action|Drama|War                           |148   |110    |4.0   |3.5731668 |
|111    |Taxi Driver (1976)                       |Crime|Drama|Thriller                       |148   |111    |3.0   |1.8662812 |
|165    |Die Hard: With a Vengeance (1995)        |Action|Crime|Thriller                      |148   |165    |4.0   |3.3998346 |
|260    |Star Wars: Episode IV - A New Hope (1977)|Action|Adventure|Sci-Fi                    |148   |260    |4.5   |3.9098592 |
|288    |Natural Born Killers (1994)              |Action|Crime|Thriller                      |148   |288    |1.0   |2.142435  |
+-------+-----------------------------------------+-------------------------------------------+------+-------+------+----------+

In [73]:
# Generate top 10 movie recommendations for each user
user_recs = best_model.recommendForAllUsers(10)

# Register as SQL view (optional)
user_recs.createOrReplaceTempView("user_recs")

# Use Spark SQL to display first 10 users' recommendations
spark.sql("SELECT * FROM user_recs LIMIT 10").show(truncate=False)

+------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|userId|recommendations                                                                                                                                                                                         |
+------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|1     |[{201444, 10.871121}, {194680, 8.730726}, {6840, 8.410723}, {167184, 8.120133}, {988, 7.616467}, {267654, 7.602745}, {148480, 7.425955}, {171695, 7.3789773}, {56931, 7.378093}, {280100, 7.309625}]    |
|3     |[{280310, 11.663724}, {5622, 9.093227}, {2744, 9.055946}, {4877, 8.484942}, {187815, 8.45415}, {191811, 8.105355}, {33124, 8.084288}, {131826, 8.074549}, {6892, 8.014042}, {7440, 7.9827037}]          |
|5     |[{148426, 13.199804}, {165959, 12.3068285}, {136515, 11.808568}, {4588, 10.666239}, {98981, 9.839717}, {148480, 9.77015}, {194680, 9.635307}, {141668, 9.546212}, {79006, 8.990754}, {144490, 8.615462}]|
|6     |[{5622, 16.96626}, {38656, 15.55437}, {26269, 14.792275}, {54934, 14.246196}, {50651, 14.21075}, {7179, 13.9215975}, {287591, 13.8660965}, {167636, 13.670487}, {563, 13.321751}, {143511, 13.262261}]  |
|9     |[{7440, 7.7169385}, {58898, 7.58553}, {194680, 7.4881177}, {6065, 7.479752}, {287591, 7.370899}, {91423, 7.2299423}, {93320, 7.22994}, {563, 7.199446}, {167470, 7.1685247}, {6159, 7.090989}]          |
|12    |[{831, 10.048003}, {201242, 10.047516}, {5153, 9.939301}, {61167, 9.922574}, {4740, 9.712902}, {42385, 9.433491}, {7636, 8.93408}, {100583, 8.933716}, {54934, 8.692159}, {39398, 8.692092}]            |
|13    |[{7351, 9.848077}, {108579, 8.909963}, {148426, 8.88005}, {90929, 8.791142}, {165959, 8.66259}, {183855, 8.509836}, {51207, 8.316789}, {86574, 8.223593}, {5366, 8.0120535}, {200864, 7.8432255}]       |
|15    |[{280310, 10.846419}, {7440, 10.299529}, {50651, 9.68202}, {5622, 9.437517}, {6159, 9.007415}, {152284, 8.878926}, {5839, 8.714186}, {4877, 8.651015}, {170425, 8.516672}, {1696, 8.466551}]            |
|16    |[{2744, 9.633983}, {140805, 9.024978}, {4201, 8.533913}, {6159, 8.419668}, {132883, 8.267935}, {5622, 7.7882485}, {108056, 7.733783}, {193445, 7.733233}, {62577, 7.5643597}, {58111, 7.410723}]        |
|17    |[{172789, 8.497601}, {108056, 8.300212}, {193445, 8.244698}, {6065, 8.155999}, {6844, 8.155877}, {280310, 7.685298}, {287591, 7.633438}, {91423, 7.5845127}, {6159, 7.5743923}, {89985, 7.4531302}]     |
+------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [74]:
user_recs.first()

Row(userId=1, recommendations=[Row(movieId=201444, rating=10.871121406555176), Row(movieId=194680, rating=8.73072624206543), Row(movieId=6840, rating=8.410722732543945), Row(movieId=167184, rating=8.120133399963379), Row(movieId=988, rating=7.616466999053955), Row(movieId=267654, rating=7.602745056152344), Row(movieId=148480, rating=7.425954818725586), Row(movieId=171695, rating=7.378977298736572), Row(movieId=56931, rating=7.3780927658081055), Row(movieId=280100, rating=7.309625148773193)])

In [75]:
user_recs.registerTempTable("als_recs_temp")

In [95]:
from pyspark.sql.functions import explode, concat, lit, col, collect_list

# Step 1: Explode the recommendations
explode_rec = spark.sql('''
    SELECT userId,
           explode(recommendations) AS MovieRec
    FROM als_recs_temp
''')

explode_rec.createOrReplaceTempView("explode_rec")

# Step 2: Convert each struct into string like "List(movieId, rating)"
formatted = spark.sql("""
    SELECT
        userId,
        concat('List(', MovieRec.movieId, ', ', MovieRec.rating, ')') AS MovieRec
    FROM explode_rec
""")

# Step 3: Group them back into a list for each user
from pyspark.sql.functions import collect_list

recommendation_list = formatted.groupBy("userId") \
                               .agg(collect_list("MovieRec").alias("recommendations"))

# Step 4: Show the final output
recommendation_list.show(truncate=False)

+------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|userId|recommendations                                                                                                                                                                                                                                    |
+------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|1     |[List(201444, 10.871121), List(194680, 8.730726), List(6840, 8.410723), List(167184, 8.120133), List(988, 7.616467), List(267654, 7.602745), List(148480, 7.425955), List(171695, 7.3789773), List(56931, 7.378093), List(280100, 7.309625)]       |
|3     |[List(280310, 11.663724), List(5622, 9.093227), List(2744, 9.055946), List(4877, 8.484942), List(187815, 8.45415), List(191811, 8.105355), List(33124, 8.084288), List(131826, 8.074549), List(6892, 8.014042), List(7440, 7.9827037)]             |
|5     |[List(148426, 13.199804), List(165959, 12.3068285), List(136515, 11.808568), List(4588, 10.666239), List(98981, 9.839717), List(148480, 9.77015), List(194680, 9.635307), List(141668, 9.546212), List(79006, 8.990754), List(144490, 8.615462)]   |
|6     |[List(5622, 16.96626), List(38656, 15.55437), List(26269, 14.792275), List(54934, 14.246196), List(50651, 14.21075), List(7179, 13.9215975), List(287591, 13.8660965), List(167636, 13.670487), List(563, 13.321751), List(143511, 13.262261)]     |
|9     |[List(7440, 7.7169385), List(58898, 7.58553), List(194680, 7.4881177), List(6065, 7.479752), List(287591, 7.370899), List(91423, 7.2299423), List(93320, 7.22994), List(563, 7.199446), List(167470, 7.1685247), List(6159, 7.090989)]             |
|12    |[List(831, 10.048003), List(201242, 10.047516), List(5153, 9.939301), List(61167, 9.922574), List(4740, 9.712902), List(42385, 9.433491), List(7636, 8.93408), List(100583, 8.933716), List(54934, 8.692159), List(39398, 8.692092)]               |
|13    |[List(7351, 9.848077), List(108579, 8.909963), List(148426, 8.88005), List(90929, 8.791142), List(165959, 8.66259), List(183855, 8.509836), List(51207, 8.316789), List(86574, 8.223593), List(5366, 8.0120535), List(200864, 7.8432255)]          |
|15    |[List(280310, 10.846419), List(7440, 10.299529), List(50651, 9.68202), List(5622, 9.437517), List(6159, 9.007415), List(152284, 8.878926), List(5839, 8.714186), List(4877, 8.651015), List(170425, 8.516672), List(1696, 8.466551)]               |
|16    |[List(2744, 9.633983), List(140805, 9.024978), List(4201, 8.533913), List(6159, 8.419668), List(132883, 8.267935), List(5622, 7.7882485), List(108056, 7.733783), List(193445, 7.733233), List(62577, 7.5643597), List(58111, 7.410723)]           |
|17    |[List(172789, 8.497601), List(108056, 8.300212), List(193445, 8.244698), List(6065, 8.155999), List(6844, 8.155877), List(280310, 7.685298), List(287591, 7.633438), List(91423, 7.5845127), List(6159, 7.5743923), List(89985, 7.4531302)]        |
|19    |[List(194680, 10.189362), List(181671, 9.96053), List(148480, 9.553716), List(201444, 9.045657), List(4687, 8.825346), List(76776, 8.583339), List(167470, 8.474251), List(7334, 8.377871), List(167184, 8.271834), List(4472, 8.201691)]          |
|20    |[List(251396, 7.263438), List(194680, 6.684445), List(68874, 6.4333935), List(8486, 6.36608), List(72037, 6.179102), List(136844, 6.1171327), List(201444, 6.049346), List(169912, 5.9860754), List(90929, 5.929271), List(54229, 5.8844104)]      |
|22    |[List(148426, 8.798018), List(194680, 8.151986), List(3245, 7.3703856), List(87004, 7.1443257), List(98973, 7.126345), List(5224, 7.118968), List(6144, 6.873687), List(223468, 6.8654118), List(91423, 6.8409677), List(666, 6.788805)]           |
|26    |[List(196937, 9.2449045), List(26379, 8.953378), List(2930, 8.615925), List(42385, 8.089689), List(168420, 8.010036), List(32582, 7.993201), List(92154, 7.908414), List(171007, 7.8793283), List(336, 7.6849337), List(4715, 7.6756234)]          |
|27    |[List(91423, 6.827325), List(194680, 6.5024524), List(6144, 6.288437), List(6065, 6.0721774), List(78438, 5.9825664), List(33945, 5.7019887), List(280310, 5.6855702), List(6823, 5.685274), List(107505, 5.599195), List(185365, 5.583483)]       |
|28    |[List(251396, 6.3399997), List(225758, 6.1037316), List(82976, 6.089174), List(162344, 6.019397), List(172789, 5.987023), List(280310, 5.9709907), List(78438, 5.934659), List(180967, 5.8041897), List(250764, 5.802778), List(123215, 5.7917314)]|
|31    |[List(6844, 8.856131), List(171695, 8.670877), List(2930, 8.632764), List(128089, 7.872432), List(1038, 7.8443503), List(95488, 7.819512), List(106983, 7.7463365), List(7141, 7.7451496), List(196937, 7.6722836), List(212024, 7.6519485)]       |
|34    |[List(194680, 7.357151), List(91423, 7.3206487), List(2744, 6.9442368), List(138835, 6.94047), List(1780, 6.9388714), List(98981, 6.8692713), List(33945, 6.81682), List(280310, 6.699949), List(49225, 6.4137726), List(201861, 6.2365947)]       |
|35    |[List(171695, 7.2656507), List(194680, 6.6428194), List(5953, 6.579259), List(167470, 6.4633245), List(128852, 6.031456), List(137904, 5.997225), List(39398, 5.982634), List(91423, 5.952503), List(105250, 5.9131413), List(5916, 5.801788)]     |
|37    |[List(60482, 6.3948507), List(4877, 6.1643615), List(6065, 6.010726), List(172789, 5.9928923), List(91423, 5.951246), List(287591, 5.912141), List(78009, 5.855639), List(161584, 5.7660565), List(26259, 5.748338), List(133185, 5.662082)]       |
+------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [87]:
fianl_recs = spark.sql("SELECT userId,\
                               movieIds_and_ratings.movieId AS movieId,\
                               movieIds_and_ratings.rating AS prediction\
                               FROM als_recs_temp\
                               LATERAL VIEW explode(recommendations) exploded_table AS movieIds_and_ratings")

In [96]:
# Assuming fianl_recs DataFrame already exists
# (for example, from your previous steps)

# Show the first 10 rows
fianl_recs.show(10, truncate=False)

# Register as a temporary SQL view
fianl_recs.createOrReplaceTempView("fianl_recs")

# Run a SQL query and display the results using show()
result = spark.sql("SELECT * FROM fianl_recs LIMIT 10")
result.show(truncate=False)

+------+-------+----------+
|userId|movieId|prediction|
+------+-------+----------+
|1     |201444 |10.871121 |
|1     |194680 |8.730726  |
|1     |6840   |8.410723  |
|1     |167184 |8.120133  |
|1     |988    |7.616467  |
|1     |267654 |7.602745  |
|1     |148480 |7.425955  |
|1     |171695 |7.3789773 |
|1     |56931  |7.378093  |
|1     |280100 |7.309625  |
+------+-------+----------+
only showing top 10 rows

+------+-------+----------+
|userId|movieId|prediction|
+------+-------+----------+
|1     |201444 |10.871121 |
|1     |194680 |8.730726  |
|1     |6840   |8.410723  |
|1     |167184 |8.120133  |
|1     |988    |7.616467  |
|1     |267654 |7.602745  |
|1     |148480 |7.425955  |
|1     |171695 |7.3789773 |
|1     |56931  |7.378093  |
|1     |280100 |7.309625  |
+------+-------+----------+

In [98]:
# Join ALS recommendations with movie ratings
# Keep only movies the user has NOT rated yet (rating is NULL)
final_rec = fianl_recs.join(
    movie_ratings,
    ['userId', 'movieId'],
    'left'
).filter(movie_ratings.rating.isNull())

# Register as SQL temp view
final_rec.createOrReplaceTempView("final_rec")

# Query and show top 5 recommendations
result = spark.sql("SELECT * FROM final_rec LIMIT 5")
result.show(truncate=False)

+------+-------+----------+------+
|userId|movieId|prediction|rating|
+------+-------+----------+------+
|1     |988    |7.616467  |NULL  |
|1     |56931  |7.378093  |NULL  |
|1     |148480 |7.425955  |NULL  |
|1     |167184 |8.120133  |NULL  |
|1     |267654 |7.602745  |NULL  |
+------+-------+----------+------+

In [99]:
final_rec.registerTempTable("final_rec")
movies_df.registerTempTable("movies_df")

In [101]:
# Make sure both DataFrames are registered as temp views
final_rec.createOrReplaceTempView("final_rec")
movies_df.createOrReplaceTempView("movies_df")

# Run the same SQL query using spark.sql()
result = spark.sql("""
    SELECT
        t1.userId,
        t2.title
    FROM final_rec t1
    LEFT JOIN movies_df t2
    ON t1.movieId = t2.movieId
    WHERE t1.userId = 575
    LIMIT 10
""")

# Show the result
result.show(truncate=False)

+------+-----------------------------------------------------------------+
|userId|title                                                            |
+------+-----------------------------------------------------------------+
|575   |Deterrence (1999)                                                |
|575   |King of Kings (1961)                                             |
|575   |Unprecedented: The 2000 Presidential Election (2002)             |
|575   |What's in a Name (Prénom, Le) (2012)                             |
|575   |Angel's Egg (Tenshi no tamago) (1985)                            |
|575   |Skinamarink (2022)                                               |
|575   |Canal, The (2014)                                                |
|575   |Shadows of Our Forgotten Ancestors (Tini zabutykh predkiv) (1964)|
|575   |Paper Clips (2004)                                               |
|575   |Goodbye, Dragon Inn (Bu san) (2003)                              |
+------+-----------------------------------------------------------------+

In [102]:
# Register DataFrames as SQL views (only once if not already done)
final_rec.createOrReplaceTempView("final_rec")
movies_df.createOrReplaceTempView("movies_df")

# Run your SQL query via PySpark
result = spark.sql("""
    SELECT
        t1.userId,
        t2.title
    FROM final_rec t1
    LEFT JOIN movies_df t2
        ON t1.movieId = t2.movieId
    WHERE t1.userId = 273
    LIMIT 5
""")

# Show the results
result.show(truncate=False)

+------+------------------------------------+
|userId|title                               |
+------+------------------------------------+
|273   |Jeff Dunham: Controlled Chaos (2011)|
|273   |Don't Hug Me I'm Scared 6 (2016)    |
|273   |New Land, The (Nybyggarna) (1972)   |
|273   |99 and 44/100% Dead (1974)          |
|273   |Otello (1986)                       |
+------+------------------------------------+

In [103]:
# 1st extract productFeatures matrix
# The productFeatures matrix will be used to create an item-item collaborative filtering recommendation model
from pyspark.mllib.recommendation import ALS
import math

model_a = ALS.train(movie_ratings, rank=10, iterations=15,
                      lambda_=0.01)
model_a.productFeatures().count()

38784

In [104]:
# look at the feature vector of movie 463
movie_feature = model_a.productFeatures().lookup(471)[0]

In [105]:
# Next define cosine similarity function to measure movie similarity
def cosineSimilarity(vec1, vec2):
  return vec1.dot(vec2) / (LA.norm(vec1) * LA.norm(vec2))

In [108]:
# ✅ Correct version for Google Colab
from pyspark.sql import SparkSession
import os

# Create Spark session if not already created
spark = SparkSession.builder.appName("MovieRecommendation").getOrCreate()
sc = spark.sparkContext  # get SparkContext

# ✅ Make sure movies.csv path is correct
movies_file = "/content/movies.csv"  # assuming movies.csv is in /content

# Read file using SparkContext
movies_sc = sc.textFile(movies_file)

# Extract header
movies_sc_header = movies_sc.first()

# Parse and cache movie data (movieId, title)
movies_data = (movies_sc
    .filter(lambda line: line != movies_sc_header)
    .map(lambda line: line.split(","))  # split CSV by commas
    .map(lambda tokens: (tokens[0], tokens[1]))  # (movieId, title)
    .cache()
)

# Convert movieId to int
movies_titles = movies_data.map(lambda x: (int(x[0]), x[1]))

# Show a few entries
print(movies_titles.take(5))

[(1, 'Toy Story (1995)'), (2, 'Jumanji (1995)'), (3, 'Grumpier Old Men (1995)'), (4, 'Waiting to Exhale (1995)'), (5, 'Father of the Bride Part II (1995)')]

In [109]:
movies_sc_header

'movieId,title,genres'

In [110]:
movies_data

PythonRDD[2231] at RDD at PythonRDD.scala:53

In [111]:
movies_titles

PythonRDD[2233] at RDD at PythonRDD.scala:53

In [112]:
# Build similarity matrix for movieid 471 using the product features matrix

similarMovies = model_a.productFeatures().map(lambda products:(products[0],
                                        cosineSimilarity(np.asarray(products[1]), movie_feature))).join(movies_titles).map(lambda r: (r[1][1], r[1][0], r[0]))

# Sort the top 10 most similar movies descendingly by cosine similarity measure
# similarMovies.takeOrdered(11, key=lambda x: -x[1])

In [113]:
from pyspark.ml.linalg import Vectors
from pyspark.sql.functions import col
from pyspark.ml.feature import BucketedRandomProjectionLSH
from pyspark.ml.linalg import Vectors, VectorUDT

In [115]:
# Assuming you already have 'best_model' from ALS training

# Extract item factors (movie latent features)
a = best_model.itemFactors

# Register as SQL temporary view
a.createOrReplaceTempView("a")

# ✅ Run SQL query using spark.sql()
result_df = spark.sql("SELECT * FROM a LIMIT 5")

# ✅ Show result in Colab
result_df.show(truncate=False)

+---+---------------------------------------------------------------------------------------------------------------------------+
|id |features                                                                                                                   |
+---+---------------------------------------------------------------------------------------------------------------------------+
|10 |[-0.0648435, -0.9313248, -0.35683972, -0.8012625, 0.49968833, -0.035513002, -0.18069409, 0.06488603, 0.9119343, 0.18105297]|
|20 |[-0.5296203, -0.6894077, 0.087655954, -0.5194098, 0.5146937, -0.073612325, -0.045994196, 0.8086063, 0.3980608, 0.41987616] |
|30 |[-0.90422314, -0.7759971, -0.59957737, -0.68116117, 0.10081761, 0.9508019, -1.3112195, 0.112045445, 0.53463894, 0.7831686] |
|40 |[0.95531356, -1.2345128, -0.3409756, -0.30253667, 0.16364394, 0.17782375, -1.4876945, 0.46898955, 0.9028022, 0.20169705]   |
|50 |[0.39132077, -0.47582763, -0.12869772, -1.1095624, 0.48524442, 0.8662814, 0.10703467, 0.27376524, 0.8442102, 0.5690098]    |
+---+---------------------------------------------------------------------------------------------------------------------------+

In [116]:
a.registerTempTable("movie_on_movie")

/usr/local/lib/python3.12/dist-packages/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [118]:
# Run SQL query in Colab (no %sql)
result_df = spark.sql("SELECT features FROM movie_on_movie WHERE id = 471")

# Display results
result_df.show(truncate=False)
result_df.toPandas()

+----------------------------------------------------------------------------------------------------------------------+
|features                                                                                                              |
+----------------------------------------------------------------------------------------------------------------------+
|[0.73430204, -0.64449453, -0.6654818, -0.74435824, 0.22103347, 0.3214821, -0.4667724, 0.4513862, 0.63497394, 0.817736]|
+----------------------------------------------------------------------------------------------------------------------+

                                            features
0  [0.7343020439147949, -0.6444945335388184, -0.6...

In [119]:
# Run SQL query using PySpark in Colab
result_df = spark.sql("SELECT * FROM ratings WHERE movieId = 463 LIMIT 10")

# Show results
result_df.show()

+------+-------+------+----------+
|userId|movieId|rating| timestamp|
+------+-------+------+----------+
|  1551|    463|   2.0|1123107163|
|  1756|    463|   4.0| 949288916|
|  2862|    463|   3.5|1058144819|
|  3331|    463|   2.0| 825638400|
|  3408|    463|   2.0| 940862511|
|  3809|    463|   4.0| 945013702|
|  4028|    463|   4.0| 994087871|
|  4903|    463|   2.0| 901636059|
|  5070|    463|   4.0| 991852118|
|  5533|    463|   4.0| 921624563|
+------+-------+------+----------+

In [120]:
brp = BucketedRandomProjectionLSH(inputCol="features", outputCol="hashes",seed=12345, bucketLength=1.0)
#a.printSchema()
#change features columns into dense vector
to_vector = udf(lambda a: Vectors.dense(a), VectorUDT())
data = a.select("id", to_vector("features").alias("features"))
#data.printSchema()

In [122]:
from pyspark.sql import SparkSession
from pyspark.ml.feature import BucketedRandomProjectionLSH
from pyspark.ml.linalg import Vectors

# Start Spark session
spark = SparkSession.builder.appName("BRPExample").getOrCreate()

# Example data
data = spark.createDataFrame([
    (0, Vectors.dense([1.0, 1.0])),
    (1, Vectors.dense([1.0, -1.0])),
    (2, Vectors.dense([-1.0, -1.0])),
    (3, Vectors.dense([-1.0, 1.0]))
], ["id", "features"])

# Initialize BRP model
brp = BucketedRandomProjectionLSH(
    inputCol="features",
    outputCol="hashes",
    bucketLength=2.0,
    numHashTables=3
)

# Fit the model
model = brp.fit(data)

# Transform the data to generate hash values
transformed = model.transform(data)

# Show results
transformed.show(truncate=False)

+---+-----------+-----------------------+
|id |features   |hashes                 |
+---+-----------+-----------------------+
|0  |[1.0,1.0]  |[[-1.0], [0.0], [-1.0]]|
|1  |[1.0,-1.0] |[[0.0], [0.0], [-1.0]] |
|2  |[-1.0,-1.0]|[[0.0], [-1.0], [0.0]] |
|3  |[-1.0,1.0] |[[-1.0], [-1.0], [0.0]]|
+---+-----------+-----------------------+

In [124]:
from pyspark.sql import SparkSession
from pyspark.ml.feature import BucketedRandomProjectionLSH
from pyspark.ml.linalg import Vectors

# Initialize Spark
spark = SparkSession.builder.appName("ApproxNearestNeighborsExample").getOrCreate()

# Example dataset with 10-dimensional feature vectors
data = spark.createDataFrame([
    (0, Vectors.dense([-0.8, -1.0, -0.9, -0.6, -0.4, -0.8, -0.5, -0.2, 0.3, -0.6])),
    (1, Vectors.dense([-0.7, -1.1, -0.85, -0.65, -0.38, -0.9, -0.47, -0.16, 0.36, -0.64])),
    (2, Vectors.dense([0.5, 0.7, 0.6, 0.4, 0.8, 0.9, 1.0, 0.6, 0.4, 0.9])),
    (3, Vectors.dense([-0.9, -0.95, -0.8, -0.7, -0.45, -0.85, -0.48, -0.15, 0.35, -0.63])),
    (4, Vectors.dense([0.2, 0.1, 0.3, 0.4, 0.5, 0.4, 0.2, 0.1, 0.2, 0.3]))
], ["id", "features"])

# Create LSH model
brp = BucketedRandomProjectionLSH(
    inputCol="features",
    outputCol="hashes",
    bucketLength=2.0,
    numHashTables=3
)

# Fit model
model = brp.fit(data)

# Define query vector
query_vector = Vectors.dense([-0.73946416, -1.03179, -0.83905196, -0.6525196,
                              -0.3816911, -0.88358724, -0.47698575, -0.15836999,
                              0.36126232, -0.6475737])

# Find top 6 nearest neighbors
neighbors = model.approxNearestNeighbors(data, query_vector, 6)

# Show results
neighbors.show(truncate=False)

+---+---------------------------------------------------------+----------------------+-------------------+
|id |features                                                 |hashes                |distCol            |
+---+---------------------------------------------------------+----------------------+-------------------+
|1  |[-0.7,-1.1,-0.85,-0.65,-0.38,-0.9,-0.47,-0.16,0.36,-0.64]|[[0.0], [0.0], [-1.0]]|0.08196878989999681|
|0  |[-0.8,-1.0,-0.9,-0.6,-0.4,-0.8,-0.5,-0.2,0.3,-0.6]       |[[0.0], [0.0], [-1.0]]|0.16355197558473514|
|3  |[-0.9,-0.95,-0.8,-0.7,-0.45,-0.85,-0.48,-0.15,0.35,-0.63]|[[0.0], [0.0], [-1.0]]|0.20627610069436014|
+---+---------------------------------------------------------+----------------------+-------------------+

In [125]:
# Run SQL query in PySpark
result_df = spark.sql("""
SELECT * FROM movies
WHERE movieId IN (6296, 97057, 3476, 1059, 4346)
""")

# Show results
result_df.show(truncate=False)

+-------+-------------------------------------------+---------------------------+
|movieId|title                                      |genres                     |
+-------+-------------------------------------------+---------------------------+
|1059   |William Shakespeare's Romeo + Juliet (1996)|Drama|Romance              |
|3476   |Jacob's Ladder (1990)                      |Horror|Mystery             |
|4346   |Bride of the Wind (2001)                   |Drama|Musical|Romance      |
|6296   |Mighty Wind, A (2003)                      |Comedy|Musical             |
|97057  |Kon-Tiki (2012)                            |Adventure|Documentary|Drama|
+-------+-------------------------------------------+---------------------------+

In [126]:
# Make sure your DataFrame is registered as a temp view
# movie_on_movie.createOrReplaceTempView("movie_on_movie")

# Run SQL query using PySpark
result_df = spark.sql("""
SELECT features
FROM movie_on_movie
WHERE id = 463
""")

# Display the results
result_df.show(truncate=False)

+-------------------------------------------------------------------------------------------------------------------------+
|features                                                                                                                 |
+-------------------------------------------------------------------------------------------------------------------------+
|[-0.13110505, -0.19828054, -0.9705931, -0.060339108, -0.5328692, -1.100225, -0.6801733, 0.85767436, 1.5242684, 1.4728537]|
+-------------------------------------------------------------------------------------------------------------------------+

In [127]:
from pyspark.sql import SparkSession
from pyspark.ml.feature import BucketedRandomProjectionLSH
from pyspark.ml.linalg import Vectors

# 1️⃣ Initialize Spark session
spark = SparkSession.builder.appName("ApproxNearestNeighborsExample").getOrCreate()

# 2️⃣ Example dataset
data = spark.createDataFrame([
    (0, Vectors.dense([1.0, 0.0, -0.3, 0.4, 0.2, -1.4, 1.0, -0.06, 0.43, -0.86])),
    (1, Vectors.dense([0.9, 0.01, -0.34, 0.38, 0.19, -1.42, 0.99, -0.065, 0.43, -0.86])),
    (2, Vectors.dense([-0.8, -1.0, -0.9, -0.6, -0.4, -0.8, -0.5, -0.2, 0.3, -0.6])),
    (3, Vectors.dense([0.95, 0.02, -0.33, 0.37, 0.21, -1.43, 1.0, -0.07, 0.42, -0.87])),
    (4, Vectors.dense([0.2, 0.1, 0.3, 0.4, 0.5, 0.4, 0.2, 0.1, 0.2, 0.3])),
    (5, Vectors.dense([-0.9, -0.95, -0.8, -0.7, -0.45, -0.85, -0.48, -0.15, 0.35, -0.63]))
], ["id", "features"])

# 3️⃣ Create and fit LSH model
brp = BucketedRandomProjectionLSH(
    inputCol="features",
    outputCol="hashes",
    bucketLength=2.0,
    numHashTables=3
)
model = brp.fit(data)

# 4️⃣ Define your query vector
query_vector = Vectors.dense([
    0.93929714, 0.015614069, -0.3408886, 0.3818301,
    0.19762212, -1.4255825, 0.99496984, -0.065754086,
    0.43202916, -0.8621043
])

# 5️⃣ Find top 6 nearest neighbors
neighbors_df = model.approxNearestNeighbors(data, query_vector, 6)

# 6️⃣ Show results
neighbors_df.show(truncate=False)

+---+---------------------------------------------------------+------------------------+--------------------+
|id |features                                                 |hashes                  |distCol             |
+---+---------------------------------------------------------+------------------------+--------------------+
|3  |[0.95,0.02,-0.33,0.37,0.21,-1.43,1.0,-0.07,0.42,-0.87]   |[[-1.0], [-1.0], [-1.0]]|0.02855520552451611 |
|1  |[0.9,0.01,-0.34,0.38,0.19,-1.42,0.99,-0.065,0.43,-0.86]  |[[-1.0], [-1.0], [-1.0]]|0.041267376976824616|
|0  |[1.0,0.0,-0.3,0.4,0.2,-1.4,1.0,-0.06,0.43,-0.86]         |[[-1.0], [-1.0], [-1.0]]|0.0815949474082027  |
|4  |[0.2,0.1,0.3,0.4,0.5,0.4,0.2,0.1,0.2,0.3]                |[[-1.0], [-1.0], [0.0]] |2.540218265181665   |
|2  |[-0.8,-1.0,-0.9,-0.6,-0.4,-0.8,-0.5,-0.2,0.3,-0.6]       |[[0.0], [0.0], [-1.0]]  |2.9018640896779693  |
|5  |[-0.9,-0.95,-0.8,-0.7,-0.45,-0.85,-0.48,-0.15,0.35,-0.63]|[[0.0], [0.0], [-1.0]]  |2.947966817836074   |
+---+---------------------------------------------------------+------------------------+--------------------+

In [128]:
# Make sure your movies DataFrame is registered as a temporary view first
# (Run this once if you haven’t already)
movies_df.createOrReplaceTempView("movies")

# Now run the SQL query
result_df = spark.sql("""
SELECT *
FROM movies
WHERE movieId IN (5321, 49007, 554, 7276, 7224)
""")

# Display the results
result_df.show(truncate=False)

+-------+-------------------------------+--------------------------------+
|movieId|title                          |genres                          |
+-------+-------------------------------+--------------------------------+
|554    |Trial by Jury (1994)           |Crime|Drama|Thriller            |
|5321   |Triumph of Love, The (2001)    |Comedy                          |
|7224   |Boy with Green Hair, The (1948)|Children|Drama                  |
|7276   |Hell's Kitchen (1998)          |Drama                           |
|49007  |Arabesque (1966)               |Adventure|Drama|Romance|Thriller|
+-------+-------------------------------+--------------------------------+

In [ ]:
# Configure SparkSession to include the MongoDB Spark connector
from pyspark.sql import SparkSession

# Using the provided MongoDB connection string
mongo_uri = "mongodb+srv://vishureddy1224_db_user:Xdjcy7KrT8ZT8aQv@cluster0.0mb3m83.mongodb.net/?appName=Cluster0"

# --- THIS IS THE FIX ---
# Point to the JAR file you just downloaded.
# (Update this path if you placed the JAR file somewhere else)
local_jar_path = "mongo-spark-connector_2.12-3.0.1.jar"

spark = SparkSession.builder \
    .appName("movie analysis") \
    .config("spark.jars", local_jar_path) \
    .config("spark.mongodb.input.uri", mongo_uri + "/bda_project.user_ratings") \
    .config("spark.mongodb.output.uri", mongo_uri + "/bda_project.user_recommendations") \
    .getOrCreate()

print("Spark with LOCAL Mongo connector configured")

SyntaxError: unexpected character after line continuation character (833241955.py, line 14)

In [ ]:
# Read ratings from MongoDB into a Spark DataFrame
ratings_df = spark.read.format("mongo")\
    .option("uri", mongo_uri + "/bda_project.user_ratings?retryWrites=true&w=majority")\
    .load()
ratings_df.createOrReplaceTempView("movie_ratings")
spark.sql("SELECT * FROM movie_ratings LIMIT 5").show(truncate=False)

In [ ]:
# Save the best_model (PySpark ALS model) to local disk so the streaming job can load it
# This assumes 'best_model' is available in the notebook scope (e.g. from CV tuning)
model_save_path = "my_als_model"
try:
    best_model.write().overwrite().save(model_save_path)
    print("Saved best_model to", model_save_path)
except Exception as e:
    print("Error saving model:", e)

In [ ]:
# Write the 'user_recs' DataFrame to MongoDB 'bda_project.user_recommendations' (overwrite)
# 'user_recs' should be a DataFrame with schema: userId, recommendations (array of structs with movieId and rating)
out_uri = mongo_uri + "/bda_project.user_recommendations?retryWrites=true&w=majority"
try:
    user_recs.write.format("mongo").mode("overwrite").option("uri", out_uri).save()
    print("Wrote user_recs to MongoDB collection bda_project.user_recommendations")
except Exception as e:
    print("Error writing recommendations to MongoDB:", e)